<script>
    var ap = new APlayer({
        element: document.getElementById('aplayer'),
        showlrc: false,
        fixed: true,
        mini: true,
        audio: [
            {
                title: 'Lover Boy 88',
                author: 'Higher Brother',
                url: 'https://www.joy127.com/url/109301.mp3',
                pic: 'https://p1.music.126.net/vMS-ShrL4k6R0uoBQrXy5g==/109951168608869612.jpg?param=130y130'
            },
            {
                title: "南山南",
                author: '张磊',
                url: 'https://www.joy127.com/url/84268.mp3',
                pic: 'https://p1.music.126.net/sF17Bq1KRm9vdBMjvhXTvQ==/109951165134399856.jpg?param=130y130'
            },
            {
                title: "童言无忌",
                author: "王以太",
                url: "https://www.joy127.com/url/84271.mp3",
                pic: "https://p1.music.126.net/Z80wn4m5lgLcQqe09CKnvQ==/109951162830156702.jpg?param=130y130"
            },
            {
                title: "稻香",
                author: "周杰伦",
                url: "https://www.joy127.com/url/84253.mp3",
                pic: "https://p2.music.126.net/DpAuXTXlirLKXawYxJo70g==/109951164579389026.jpg?param=130y130"
            },
            {
                title: "晴天",
                author: "周杰伦",
                url: "https://www.joy127.com/url/84270.mp3",
                pic: "https://p1.music.126.net/DpAuXTXlirLKXawYxJo70g==/109951164579389026.jpg?param=130y130"
            },
        ]
    });

</script>

